{% extends "webzeroapp/base.html" %}

{% load static %}

{% load bootstrap5 %}

{% bootstrap_css %}

{% bootstrap_javascript %}

{% block content %}
<br>
<div style="padding-left: 42%;"><h1 style="font-family: rif; color: whitesmoke;">¡Contáctanos!</h1>
</div>

<br>
<br>

<div style="padding-left: 32%;">
<div style="background-color: beige; width: 30rem; padding: 3%;"><p>¡Nos encantaría saber de usted! Si tiene alguna pregunta, necesita información adicional sobre nuestras obras de arte, o desea hacer una consulta, no dude en ponerse en contacto con nosotros!.</p></div>
</div>

<br>
<br>

<div class="contenedorFormulario" style="display: flex; justify-content: center; gap: 20px; padding-bottom: 1%;">
    
    {% if  "valido" in request.GET %}

    <p style = "color: white;">Mensaje enviado correctamente</p>

    {% endif %}
    <form action="" method="POST" style="text-align: center;">
        {% csrf_token %}
        <table style="color: white; margin: 20px auto;">{{miformulario.as_table}}</table>
        <input type="submit" value="Enviar" class="btn btn-primary">
    </form>
    </div>
</div>

<!-- Contenedor para el mapa -->
<div id="map" style="height: 300px; width: 100%; margin-top: 30px;"></div>

<script>
    function initMap() {
        var location = {lat: -33.015348, lng: -71.550746}; // Coordenadas de ejemplo
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 10,
            center: location
        });
        var marker = new google.maps.Marker({
            position: location,
            map: map
        });
    }
    </script>
    

{% endblock %}