<!-- Hola ouh-->

{% extends "webzeroapp/base.html" %}

{% load static %}

{% load bootstrap5 %}

{% bootstrap_css %}

{% bootstrap_javascript %}

{% block content %}

<div class="container mt-4">
    <div class="row">
        {% for artista in artistas %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="{{artista.foto.url}}" class="card-img-top" alt="{{artista.nombre}}">
                <div class="card-body">
                    <h3 class="card-title"><b>{{artista.nombre}} {{artista.aPaterno}}</b></h3>
                    <p class="card-text" style="text-align: center;"> biografía del artista puede ir aqui</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}