{% extends "webzeroapp/base.html" %}

{% load static %}

{% block content %}
<div class="container mt-4">
    <div class="d-flex justify-content-end mb-3">
        <p class="text-white">Total: {{importe_total_carro}} CLP</p>
    </div>
    <div class="row">

        {% for articulo in articulos %}
        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <img src="{{articulo.foto.url}}" class="card-img-top" alt="{{articulo.nombre}}">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title"><b>{{articulo.nombre}}</b></h3>
                    <p class="card-text">{{articulo.descripcion}}</p>
                    <p class="card-text">{{articulo.precio}}&nbsp;CLP</p>
                    <a href="#" class="btn btn-primary mt-auto">Agregar al carro</a>
                </div>
            </div>
        </div>
        {% endfor %}
        
    </div>
</div>
{% endblock %}