<html>

<head>

    {% load static %}

  
     <!-- Cargando Bootstrap CSS y JS (de bootstrap) -->

    {% load bootstrap5 %}

    {% bootstrap_css %}

    {% bootstrap_javascript %}

     <!-- Fonts -->
    
     <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
     <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
     <!-- Google Maps API -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD44mlhC6pUSCQcOmb5AE0_Ja8H8EDbk2w&callback=initMap" async defer></script>
    
     

    <!-- Styles -->
    <link href="{% static 'webzeroapp/css/gestion.css' %}" rel="stylesheet">
</head>

<body>
 <!-- Navbar -->
 <nav class="navbar navbar-expand-lg bg-body-tertiary"style="background-color: #e4e2dd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="{% static 'webzeroapp/img/zero.png' %}" alt="Logo" width="60" height="40" class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'Home' %}"style="color:  #333;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'Artistas' %}"style="color:  #333;">Artistas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'Contacto' %}"style="color:  #333;">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'Catalogo' %}"style="color:  #333;">Catalogo</a>
        </li>
      </ul>
    </div>
    <div style="color:  #333;"> 
      {% if user.is_authenticated %}

      Hola!, {{ user.username }}&nbsp;&nbsp;<a href="{% url 'cerrar_sesion' %}"style="color:  #333;">Cerrar sesion</a>

      {% else %}
      <a href="#"style="color:  #333;">Log in</a>&nbsp;&nbsp;<a href="{% url 'Autenticacion' %}"style="color:  #333;">Registrate</a>
      {% endif %}
    </div>
  </div>
</nav>


   <!-- Contenido cambiante -->
   {% block content%}

   {% endblock %}

<!-- Footer -->
<footer style="background-color: #333; color: white; text-align: center; padding: 20px;">

  <p>© 2024 Galería y Café Zero. Todos los derechos reservados.</p>
  <p>Email: info@tuempresa.com | Teléfono: 123-456-789</p>
</footer>


  

  

</body>


</html>